$red: red;
$shinyred: #e63d65;
$coral: coral;
$orange: orange;
$yellow: yellow;
$green: #b6e61f;
$lightblue: lightblue;
$shinyblue: #5ae6e4;
$basicblue: blue;
$blue: #005980;
$purple: purple;
$grey: grey;
$black: black;