.nonmetal{
  border: 1px solid $coral;
  color: $coral;
}

.alkali {
  border: 1px solid $yellow;
  color: $yellow;
}

.alkalin {
  border: 1px solid $grey;
  color: $grey;
}

.othermetal {
  border: 1px solid $red;
  color: $red;
}

.lanthanoids{
  border: 1px solid $purple;
  color: $purple;
}

.metaloids{
  border: 1px solid $orange;
  color: $orange;
}

.actinoids {
  border: 1px solid $blue;
  color: $blue;
}

.halogen {
  border: 1px solid $lightblue;
  color: $lightblue;
}

.unknown {
  border: 1px solid $shinyblue;
  color: $shinyblue;
}

.nobelgases {
  border: 1px solid $green;
  color: $green;
}

.othermetal {
  border: 1px solid $basicblue;
  color: $basicblue;
}

.transition {
  border: 1px solid $shinyred;
  color: $shinyred;
}

.invisible {
  border: 1px solid $black;
  color: $black;
}

