@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "colors";

*{
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}

.element {
  width: 50px;
  height: 60px;
  display: inline-block;
  margin-right: .55px;
}

.baseframe {
  width: 946px;
}

p {
  text-align: center;
}
